.example::before {
    content: "Before ";
    color: rgb(0, 2, 128);
  }
  
  .example::after {
    content: " After";
    color: rgb(255, 0, 0);
  }
  
  .example::first-letter {
    font-size: 30px;
    color: rgb(255, 0, 0);
  }
  
  .example::first-line {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 92, 128);
  }
  
  #link:link {
    border-bottom: 2px solid #3498db;
}

#visited:visited {
    color: #bbacac;
}

#hover:hover {
    color: #e74c3c;
}

#active:active {
    font-size: 12px;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

.container p:first-child {
  font-weight: bold;
  color: rgb(234, 0, 255);
}
.new-container p:nth-of-type(3) {
  font-style: italic;
  color: green;
}
:checked {
  border-color: rgb(4, 0, 255);
  background-color: lightyellow;
}