body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

main {
    padding: 40px;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    color: #666;
}

.featured-products {
    /* Додайте ваші стилі для вибраних товарів тут */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
